RewriteEngine on

#If a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f

#If a directory use it
RewriteCond %{REQUEST_FILENAME} !-d

#Otherwise forward it to index.php
RewriteRule . index.php